<div class="u-container">
    <ul class="u-flex u-flex--wrap u-clean-list">
        <li class="u-flex u-col u-col--medium-2">
            {{ render '@card--hero' }}
        </li>
        <li class="u-flex u-col u-col--medium-2">
            <ul class="u-flex u-flex--wrap u-clean-list">
                <li class="u-flex u-col u-col--medium-2">
                    {{ render '@card--major-image' }}
                </li>
                <li class="u-flex u-col u-col--medium-2">
                    {{ render '@card--major-image' }}
                </li>
                <li class="u-flex u-col u-col--medium-2">
                    {{ render '@card--major' }}
                </li>
                <li class="u-flex u-col u-col--medium-2">
                    {{ render '@card--major' }}
                </li>
            </ul>
        </li>
    </ul>
</div>