<h3 class="u-text24">Regular card</h3>
<div class="c-demo u-demo-container">
    <div class="u-flex u-flex-direction--row u-flex--nowrap u-flex-content--stretch u-full-width">
        {{ render '@card' }}
    </div>
</div>

<h3 class="u-text24">Regular card with image</h3>
<div class="c-demo u-demo-container">
    <div class="u-flex u-flex-direction--row u-flex--nowrap u-flex-content--stretch u-full-width">
        {{ render '@card--regular-image' }}
    </div>
</div>

<h3 class="u-text24">Major card</h3>
<div class="c-demo u-demo-container">
    <div class="u-flex u-flex-direction--row u-flex--nowrap u-flex-content--stretch u-full-width">
        {{ render '@card--major' }}
    </div>
</div>

<h3 class="u-text24">Major card with image</h3>
<div class="c-demo u-demo-container">
    <div class="u-flex u-flex-direction--row u-flex--nowrap u-flex-content--stretch u-full-width">
        {{ render '@card--major-image' }}
    </div>
</div>

<h3 class="u-text24">Hero card</h3>
<div class="c-demo u-demo-container">
    <div class="u-flex u-flex-direction--row u-flex--nowrap u-flex-content--stretch u-full-width">
        {{ render '@card--hero' }}
    </div>
</div>