<div class="c-card c-card--major c-card--{{ modifier }} {{~#if demo}} u-demo-container{{/if}}">
    <div class="c-card__container">
        {{#if image}}
        <div class="c-card__image-container">
            <div class="u-responsive-ratio">
                <img src="{{ image }}" />
            </div>
        </div>
        {{/if}}
        <div class="c-card__copy">
            <h3 class="c-card__title u-serif">{{ title }}</h3>
            <div class="c-card__footer">
                <span class="c-card__article-type sans-serif strong u-sans-serif">{{ articleType }}</span>
                <span class="c-card__spacer u-sans-serif"> | </span>
                <span class="c-card__date u-sans-serif">{{ date }}</span>
            </div>
        </div>
    </div>
</div>