<div class="u-container">
    <ul class="u-flex u-flex--wrap u-clean-list">
        <li class="u-flex u-col u-col--desk-4-3 u-flex--wrap">
            <div class="u-flex">
                {{ render '@card--hero-big' }}
            </div>
            <ul class="u-flex u-flex--wrap u-clean-list">
                {{#each articles_list_bottom}}
                <li class="u-flex u-col u-col--portable-4-1">
                    {{> '@card--major' }}
                </li>
                {{/each}}
            </ul>
        </li>
        <li class="u-flex u-col u-col--desk-4-1">
            <ul class="u-flex u-flex--wrap u-clean-list">
                {{#each articles_list_right}}
                <li class="u-flex u-col">
                    {{> '@card' }}
                </li>
                {{/each}}
            </ul>
        </li>
        <li class="u-flex u-col u-col--palm-4-4">
            <ul class="u-flex u-flex--wrap u-clean-list">
                {{#each articles_list_second_images}}
                <li class="u-flex u-col u-col--portable-4-1">
                    {{> '@card--major' }}
                </li>
                {{/each}}
            </ul>
        </li>
        <li class="u-flex u-col u-col--palm-4-4">
            <ul class="u-flex u-flex--wrap u-clean-list">
                <li class="u-flex u-col u-col--portable-4-2">
                    <div class="u-flex">
                        {{ render '@card--hero' }}
                    </div>
                </li>
                <li class="u-flex u-col u-col--portable-4-2">
                    <ul class="u-flex u-flex--wrap u-clean-list">
                        <li class="u-flex u-col u-col--portable-4-1">
                            <div class="u-flex">
                                {{ render '@card--major-image' }}
                            </div>
                        </li>
                        <li class="u-flex u-col u-col--portable-4-1">
                            <div class="u-flex">
                                {{ render '@card--major-image' }}
                            </div>
                        </li>
                        <li class="u-flex u-col u-col--palm-4-4">
                            <div class="u-flex">
                                {{ render '@card' }}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>